.round-size {
    border-radius: 10px;
    width: 100%;
}

.header, .about, .btn-lightgreen {
    background-color: #19BC9D;
    color: white;
}

.nav-bar, .footer {
    background-color: #2C3F51;
    color: white;
}

/* BARRA DI NAVIGAZIONE */
.navlink a {
    text-decoration: none;
    color: white;
    font-size: .8rem;
    font-weight: bold;
    display: inline-block;
    padding-left: 1rem;
}

.toggle {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: .2rem .6rem;
}

.fa-solid.fa-bars {
    color: grey;
    display: block;
    text-align: center;
}

/* SEZIONE I: HEADER */
.header img {
    width: 200px;
    padding-bottom: 1rem;
}

/* LINEE DIVISORIE CON STELLINA IN MEZZO */
.divider {
    padding-top: .9rem;
    gap: 20px;
}

.line {
    border-top: 3px solid;
    border-radius: 10px;
    width: 13%;
}

.fa-solid.fa-star {
    font-size: 25px;
}

/* SEZIONE III: ABOUT BOOTSTRAP */
.fa-solid.fa-download {
    width: 15px;
    vertical-align: middle;
}

.download {
    vertical-align: middle;
}

/* SEZIONE IV: CONTACT FORM */
.border-none {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

/* SEZIONE V: INFORMAZIONI START BOOTSTRAP */
.info-section {
    background-color: #3A546D;
}

.start-link {
    color: #19BC9D;
    text-decoration: none;
}

.circle-icon {
    border: 1px solid white;
    border-radius: 50%;
    padding: .5rem;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 21px;
    margin: 5px;
}

/* FOOTER */
.copyright {
    font-size: .7rem;
}