.uppercase {
    text-transform: uppercase;
}

.nav-bar, .footer {
    background-color: #2C3F51;
}

.navlink a {
    text-decoration: none;
    color: white;
    font-size: .8rem;
    font-weight: bold;
    display: inline-block;
    padding-left: 1rem;
}

.toggle {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: .2rem .6rem;
}

.toggle svg {
    fill: grey;
    width: 20px;
    display: block;
}

.header, .about, .btn-lightgreen {
    background-color: #19BC9D;
    color: white;
}

.header img {
    width: 200px;
    padding-bottom: 1rem;
}

.divider {
    padding-top: .9rem;
    gap: 20px;
}

.line {
    border-top: 3px solid;
    border-radius: 10px;
    width: 15%;
}

.divider svg {
    fill: #fff;
    width: 25px;
}

.round-size {
    border-radius: 10px;
    width: 100%;
}

svg {
    width: 15px;
}

.download {
    vertical-align: middle;
}

.info-section {
    background-color: #3A546D;
}